.article
  padding 13px 20px 24px 0
  margin-bottom 20px
  bounds()

  &:last-child
    margin-bottom 0

  &__header
    display flex
    justify-content space-between

    & h3
      margin 0
      font-weight 400
      font-size 16px

  &__body
    margin 20px 0 0 0
