.notification-menu
  position relative
  display flex
  justify-content center
  align-items center
  margin-right 12px

  &__counter
    position absolute
    top 2px
    right -6px
    width 12px
    height 12px
    background-color app_color_red
    border-radius 50%
    font-size 0.6rem
    line-height 12px
    text-align center
    color white
