.app-menu
  margin 0
  padding 0
  list-style none
  display flex
  justify-content flex-end
  color app_color_gray
  font-size 12px

  &__item
    display flex
    margin-right 30px

    & a
      color app_color_gray

    &:last-child
      margin-right 0
